body {
    padding: 0px;
    margin: 0px
}
#container {
    position: relative;
    z-index: 1;
    left: 200px;
    top: 120px
}
#container input {
    position: absolute;
    width: 250px;
    font-size: 34px
}